span.error {
    color: red;
    
}

.rounded-account-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.alert-success{
    color:green;
}

.alert-danger{
    color: red;
}

article {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  a {
    color: #555;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    color: #777;
    line-height: 1.6;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  
  